body {
    
}
p{
    margin: 5px;
}
.row>p{
    margin: 3px;
    text-align: right;
}
.id {
    
    font-size: 12px;
    margin: 0 auto;
}
.element {
    align-content: center;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.row {
    display: inline-block;
}